<configuration>
    <connectionStrings>
        <add name="triathlonDB" connectionString="Data Source=C:\Users\tifle\RiderProjects\mpp-proiect-csharp-Tlarisa06\TriathlonSystem\triathlon.db;Version=3;" />
    </connectionStrings>
    <appSettings>
        <add key="triathlon.server.port" value="55556"/>
    </appSettings>
</configuration>